{% extends 'base.html' %}

{% block content %}
    <h2 class="red">{% block title %}Servicio{% endblock %}</h2>

    <ul class="content_services">
        <li class="list_element"><h3>Sobre mis servicios:</h3></li>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sapiente delectus ut modi consequuntur eligendi quo voluptatibus 
            doloremque, facere odio repellendus eum ipsum nemo impedit harum 
            libero molestiae dolore nisi sint.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sapiente delectus ut modi consequuntur eligendi quo voluptatibus 
            doloremque, facere odio repellendus eum ipsum nemo impedit harum 
            libero molestiae dolore nisi sint.
        </p>

            <ul>
                <li>Tu propia tienda online</li>
                <li>Tu blog personal en la web</li>
                <li>Tu propia red de articulos o columnas</li>
                <li>Entre otras cosas</li>
            </ul>

        <li class="list_element"><h3>¿Por qué deberías tomar mis servicios?</h3></li>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sapiente delectus ut modi consequuntur eligendi quo voluptatibus 
            doloremque, facere odio repellendus eum ipsum nemo impedit harum 
            libero molestiae dolore nisi sint.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sapiente delectus ut modi consequuntur eligendi quo voluptatibus 
            doloremque, facere odio repellendus eum ipsum nemo impedit harum 
            libero molestiae dolore nisi sint.
        </p>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sapiente delectus ut modi consequuntur eligendi quo voluptatibus 
            doloremque, facere odio repellendus eum ipsum nemo impedit harum 
            libero molestiae dolore nisi sint.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Sapiente delectus ut modi consequuntur eligendi quo voluptatibus 
            doloremque, facere odio repellendus eum ipsum nemo impedit harum 
            libero molestiae dolore nisi sint.
        </p>

        
        <li class="list_element"><h3>Tegnologías con las que trabajo:</h3></li>
            <ul>
                <li>Python - Flask - Django</li>
                <li>JavaScript - ReactJS - Angular</li>
                <li>HTML5</li>
                <li>CSS3</li>
            </ul>
    </ul>
{% endblock %}